@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@300;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(./Images/New\ Years.jpg);
  background-position: center center;
  font-family: "Antonio", sans-serif;
  color: beige;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0;
  background-size: cover;
  height: 98vh;
}

h1 {
  font-weight: normal;
  font-size: 6rem;
}

.countdown-container {
  display: flex;
}

.big-text {
  font-weight: bold;
  font-size: 5rem;
  line-height: 1;
  margin: 0 2rem;
}

.countdown-element {
  text-align: center;
}

.countdown-element span {
  font-size: 1.3rem;
}